apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ lookup('file', '{{ PKI_DIR }}/ca.crt') | b64encode }}
    server: https://{{ item.server }}:6443
  name: k8s-the-hard-way
contexts:
- context:
    cluster: k8s-the-hard-way
    user: {{ item.prefix }}{{ item.name }}
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: {{ item.prefix }}{{ item.name }}
  user:
    client-certificate-data: {{ lookup('file', '{{ PKI_DIR }}/{{ item.name }}.crt') | b64encode }}
    client-key-data: {{ lookup('file', '{{ PKI_DIR }}/{{ item.name }}.key') | b64encode }}
